<template>
  <div>
      <Header />
      <Nuxt />
  </div>
</template>

<script>
import Header from "@/components/Header.vue";

export default {
  components: { Header }
}
</script>

<style>
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #f5f4f4;

  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100px;
}
</style>