<template>
  <div class="container">
    <div class="container-left">
      <MainTitle />
      <CitySearchBar />
    </div>
    <div class="square-container">
      <div class="green-square"></div>
    </div>
  </div>
</template>

<script>
import MainTitle from "@/components/MainTitle.vue";
import CitySearchBar from "@/components/CitySearchBar.vue";

export default {
    components: { MainTitle, CitySearchBar }
}
</script>

<style scoped>
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.container-left {
  margin: 5%;
  flex: 1;
}
.square-container {
  margin: 5%;
  flex: 1;
}
.green-square {
  background: #4d693d;

  min-height: 500px;
  min-width: 300px; 
}
</style>