<template>
  <div class="weather-page">
    <HomeButton />
    <div class="weather-card-deck">
      <div class="right-container">
        <DetailledWeatherCard class="highlighted-weather" :city="this.name" :temperature="this.current.temp"
                      :date="this.todayDate" :pressure="this.current.pressure" :humidity="this.current.humidity"
                      :wind="this.current.wind_speed" :image="this.currentIcon" />
        <PictureCard class="city-picture" :img="this.cityPicture" />
      </div>

      <div class="basic-weather-card-deck">
        <WeatherCard  v-for="(day, i) in forecast" :key="i" :date="day.date"
                      :temperature="day.temp" :image="day.image" @click.native="activate(i)" /> <!-- crashes if this.activate ? -->
      </div>
    </div>

  </div>
</template>

<script>
import HomeButton from "../components/HomeButton.vue"
import DetailledWeatherCard from "../components/DetailledWeatherCard.vue";
import WeatherCard from "../components/WeatherCard.vue";
import PictureCard from "../components/PictureCard.vue";

export default {
    data() {
        return {
            name: "Definetly not a city",
            country: "",
            state: "",
            lon: "",
            lat: "",
            cityPicture: "",
            current: {},
            todayDate: "",
            currentIcon: "",
            rawdata: [],
            forecast: [],
            selected: this.current
        };
    },
    mounted() {
      if (this.$route === undefined || Object.keys(this.$route.params).length === 0) {
        this.$router.replace("/");
        return;
      }

      // get local variables from the route params
      this.name = this.$route.params.name;
      this.country = this.$route.params.country;
      this.state = this.$route.params.state;
      this.lon = this.$route.params.lon;
      this.lat = this.$route.params.lat;

      this.fetchFromAPI();
    },
    methods: {
      async fetchFromAPI() {
        // fetch forecast data from weather API
        const axios = require('axios');
        const params = {
            appid: this.$store.state.WS_ApiKey.apiKey,  // maybe change name later
            lon: this.lon,
            lat: this.lat,
            units: "metric",
            exclude: "minutely,hourly,alerts"
        }

        await axios.get('https://api.openweathermap.org/data/2.5/onecall', {params})
            .then(response => {
                const apiResponse = response.data;
                this.current = apiResponse.current;
                this.currentIcon = "https://openweathermap.org/img/wn/" + apiResponse.current.weather[0].icon + "@4x.png";
                let now = new Date();
                this.todayDate = this.convertDayOfWeek(now.getDay()) + ' ' + now.getDate().toString() + "th";
                
                this.rawdata = apiResponse.daily;
                console.log(`The temperature today in ${this.name} is ${this.current.temp}°C`);
            }).catch(error => {
                console.log(error);
            });
        
        this.sanitizeData();
        this.callFlickr();
      },

      // Didnt want to sanitize the params at first but i got forced when i had to handle special format of date
      sanitizeData() {
        let now = new Date();

        for (let i = 0; i < this.rawdata.length; i++) {
          let day = this.rawdata[i];
          now.setDate(now.getDate()+1);

          this.forecast.push({
            temp: day.temp.day.toString(),
            image: "https://openweathermap.org/img/wn/" + day.weather[0].icon + "@4x.png",
            date: this.convertDayOfWeek(now.getDay()) + ' ' + now.getDate().toString() + this.getDateFinish(now.getDate().toString()),
            pressure: day.pressure.toString(),
            humidity: day.humidity.toString(),
            wind: day.wind
          });
        }
      },

      async callFlickr() {
        const flickrKey = "17575a66fc6e0c17cc16cd968279f48f";

        const axios = require('axios');
        const params = {
          api_key: flickrKey,
          method: "flickr.photos.search",
          format: "json",
          nojsoncallback: "1",
          privacy_filter: "1",
          tags: this.name,
          text: this.name,
          sort: "relevance",
          accuracy: "11",
          geo_context: "2",
          lat: this.lat,
          lon: this.lon
        }

        await axios.get('https://www.flickr.com/services/rest/', {params})
            .then(response => {
                const apiResponse = response.data;

                // random index in order to have a new picture every time
                let rindex = Math.floor(Math.random() * (apiResponse.photos.perpage / 10));
                let pic = apiResponse.photos.photo[rindex];
                this.cityPicture = "https://live.staticflickr.com/" + pic.server + "/" + pic.id + "_" + pic.secret + "_b.jpg";

            }).catch(error => {
                console.log(error);
            });


        return;
      },

      activate(index) {
        let backToDefault = this.forecast[index].isActive;
        this.forecast[index].isActive = !this.forecast[index].isActive;

        for (let i = 0; i < this.forecast.length; i++) {
          if (i != index) {
            this.forecast[i].isActive = false;
          }
        }

        if (backToDefault) {
          this.selected = this.current;
          return;
        }

        this.selected = this.forecast[index];

        // TODO

        return;
      },

      // Convert day of week to string
      convertDayOfWeek(day) {
        let weekDays = ["Sun", "Mon", "Tue", "Wed", "Thurs", "Fri", "Sat"];
        return weekDays[day];
      },

      // Return the corresponding end for a day number
      getDateFinish(date) {
        if (date == "1")
          return "st";
        if (date == "2")
          return "nd";
        return "th";
      }
    },
    components: { HomeButton, DetailledWeatherCard, WeatherCard, PictureCard }
}
</script>

<style>
body {
  background-color: #4d693e;
}
</style>

<style scoped>
.weather-card-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: flex-start;
  align-content: space-between;

  margin: 5%;
}
.right-container {
  display: flex;
  flex-direction: column;
  flex: 1;

  margin: -8% 0px 20px 5%;
}
.basic-weather-card-deck {
  display: flex;
  flex: 2;
  flex-wrap: wrap;

  justify-content: space-around;
}

@media screen and (max-width: 600px) {  
  .weather-card-deck {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .right-container {
    margin: -3% 10px 20px 8%;
  }
}
</style>
