<template>
  <div class="search-container">
      <h2>Enter a city in the search bar!</h2>
      <div class="search-bar-container">
          <input class="search-bar" @keydown.enter="gotoWeather(search)" type="text" v-model="search" placeholder="Search City" />
      </div>
      <div class="button" @click="gotoWeather(search)">View the Weather</div>
  </div>
</template>

<script>
import { stored } from "../store/WS_ApiKey";

export default {
    data() {
        return {
            search: "",
            cities: []
        };
    },
    methods: {
        async gotoWeather(search) {
            if(search.length == 0) {
                return;
            }
            
            const axios = require('axios');
            const params = {
                appid: this.$store.state.WS_ApiKey.apiKey,  // maybe change name later
                q: search,
                limit: 1
            }

            axios.get('http://api.openweathermap.org/geo/1.0/direct', {params})
                .then(response => {
                    this.cities = response.data;
                    if (!this.cities) {
                      this.search = "";
                      return;
                    }
                    console.log(`Selected city is ${this.cities[0].name}`);
                    this.$router.push({ name: 'weather', params: { name: this.cities[0].name,
                                  country: this.cities[0].country, state: this.cities[0].state,
                                  lon: this.cities[0].lon, lat: this.cities[0].lat }});
                }).catch(error => {
                    console.log(error);
                    this.search = "";
                });
        }
    }
}
</script>

<style scoped>
h2 {
  font-size: 18px;
}
.search-container {
  display: flex;
  flex-direction: column;
}
.search-bar-container {
  padding: 20px 0px;
}
.search-bar {
  padding: 10px 0px;
  width: 80%;
}
.button {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s;
  background-color: #a7b59e;
  color: #f5f4f4;
  font-weight: 500;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  width: 50%;
}

.button:hover {
  color: #a7b59e;
  background-color: #f5f5f5;
  border: 1px solid #a7b59e;
}

.result-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-items: center;

  padding: 5px;
}
.city-link {
  display: flex;
  flex-direction: column;
  margin: 2px;

  text-decoration: none;
  color: black;

  padding: 5px 10px;
  border-radius: 3px;
  border-radius: 5px;
  background-color: #f5f4f4;
  flex: 1 auto;
  justify-content: space-around;
}

.city-link:hover {
  background-color: rgb(199, 199, 199);
}
</style>