<template>
  <div class="detailed-weather-card">
      <h2>{{ city }}</h2>
      <img class="weather-icon" :src="image" />
      <h1>{{ this.temperature }}°C</h1>
      <h1>{{ this.date }}</h1>
      <div class="footer">
        <p>Pressure<br>{{ this.pressure }}hPa</p>
        <p>Humidity<br>{{ this.humidity }}%</p>
        <p>Wind<br>{{ this.wind }} km/h</p>
      </div>
  </div>
</template>

<script>
export default {
  props: {
    city: "",
    image: "",
    temperature: "",
    date: "",
    pressure: "",
    humidity: "",
    wind: ""
  }
}
</script>

<style scoped>
.detailed-weather-card {
  display: flex;
  flex-direction: column;

  width: 250px;
  min-height: 400px;
  background-color: white;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.377);

  border-radius: 15px;
  text-align: center;
}
.weather-icon {
  width: 80%;
  align-self: center;
}
h2 {
  align-self: flex-start;
  margin-top: 5px;
  margin-left: 30px;
}
p {
  font-size: 15px;
}
.footer {
  margin: 5%;
  justify-self: flex-end;
  display: flex;
  justify-content: space-around;
}
</style>