<template>
  <div class="header">
    <img class="header-icon" src="@/static/weather-icon-header.png" />
    <div class="title-container">
      <p style="color: #60c26d;">The Forecast</p>
      <p style="color: #c6de9c">Weather App</p>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
.header {
  display: flex;
  align-content: center;
  align-items: center;

  margin: 20px 0 0 5%;
}
.header-icon {
  width: 50px;
}
.title-container {
  display: flex;
  flex-direction: column;

  margin: 0 10px;
}
p {
  font-weight: bold;
}
</style>