<template>
  <div class="home-button">
      <nuxt-link to="/">&lt;- RETURN</nuxt-link>
  </div>
</template>

<script>
export default {

}
</script>

<style>
.home-button {
  padding: 30px 0px 10px 5%;
}
a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
</style>    