<template>
  <div class="main-title">
      <h1>Weather Application & Forecast</h1>
      <h2>Consult our application to know the weather day by day. Simple and practical!</h2>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
h1 {
  font-size: 58px; 
  margin-bottom: 20px;
}
h2 {
  color: #9b9a9d;
  font-size: 20px;
  margin-bottom: 20px;
}
</style>