<template>
  <div class="picture-card">
      <img :src="this.img" />
  </div>
</template>

<script>
export default {
props: {
    img: ""
}
}
</script>

<style scoped>
.picture-card {
  display: flex;
  flex-direction: column;

  width: 250px;
  min-height: 250px;

  background-color: white;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.377);
  border-radius: 15px;
  text-align: center;
  margin: 20px 0;
}
img {
  border-radius: 15px;
  width: 100%;
  flex: 1;
  object-fit: cover;
}
</style>