<template>
  <div class="weather-card" :class="{active: isActive}">
      <img class="weather-img" :src="this.image" />
      <h2>{{ this.temperature }}°C</h2>
      <h2>{{ this.date }}</h2>
  </div>
</template>

<script>
export default {
    props: {
        date:"",
        temperature: "",
        image:"",
        isActive: "0"
    }
}
</script>

<style scoped>
.weather-card {
  display: flex;
  flex-direction: column;

  width: 200px;
  height: 250px;
  background-color: white;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.377);
  border-radius: 15px;
  text-align: center;
  margin: 10px;
}
.weather-card:active {
  background-color: #8bbd70;
}
.weather-img {
  width: 80%;
  align-self: center;
}
h2 {
  font-size: 30px;
  margin: 5px;
}
</style>